@{
    ViewData["Title"] = "Services";
}
@section Style {
    <link rel="stylesheet" href='~/css/services.css' asp-append-version="true" />
}

<header class="header">
    <h1>Home Healthcare<br> Services</h1>
</header>
<main class="container">
    <div class="" style="text-align:center">
        <h2 class="mb-3">Home Care Services Departments</h2>
        <p>We provide health solutions to improve people's lives by offering an elite group of doctors and specialists to diagnose and treat<br /> patients in their homes.</p>
        <br />
    </div>
    <section class="cards">
        <div class="card">
            <div class="white"></div>
            <h3>Home Visit</h3>
            <p>Explore a range of home care services provided by our experienced specialists — including urgent care and scheduled visits. Choose the option that best fits your medical needs and enjoy professional care in the comfort of your home.</p>
            <button type="button" onclick="window.location.href='@Url.Action("HomeVisitOptions", "Service")'">Explore Options</button>
        </div>
        <div class="card">
            <div class="white"></div>
            <h3>Remote Consultation</h3>
            <p>Connect with specialized doctors via video calls or text messages for quick consultations. Get initial diagnoses, treatment advice, or referrals to specialists, all from the comfort of your home.</p>
            <button onclick="window.location.href='remote_consultation.html'">Book Consultation</button>
        </div>
    </section>
</main>

@section Scripts {
    <script src='./javascript/services.js'></script>
}
